.bg-color{
  background-color: #302874;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.form-wrapper{
  background-color: #fff;
  width: 50%;
  padding: 20px 30px 30px;
  border-radius: 20px;
  margin: 100px auto;
}
.error-msg{
  color: red;
}